<div class="package-holder">
 <div class="centered-width bannerText"> {{ headerName }}</div>

</div>


<div class="centered-width user-font marginTop">
<div class="row">
	<div class="col-lg-4">
    	<span class="contact-heading"> Any questions, feedback or suggestions? </span><br>
        <span class="contact-text">We’d love to hear from you</span>
       <div class="marginTop"> 
        <form name="contactForm"  class="form-horizontal"  role="form">
        
        <div class="form-group">
            <div class="col-sm-10">
            <input type="input" class="form-control" ng-model="contactDetails.contact_name"  placeholder="Your Name" required>
            </div>
        </div>
 
        <div class="form-group">
            <div class="col-sm-10">
            <input type="email" class="form-control"  ng-model="contactDetails.contact_email" placeholder="Email" required>
            </div>
        </div>
 
 
        <div class="form-group">
            <div class="col-sm-10">
            <input type="input" class="form-control"  ng-model="contactDetails.contact_phone" placeholder="Phone Number" required>
            </div>
        </div>
 
 
        <div class="form-group">
            <div class="col-sm-10">
            <input type="input" class="form-control" ng-model="contactDetails.contact_subject"  placeholder="Subject" required>
            </div>
        </div>
 
 
        <div class="form-group">
            <div class="col-sm-10">
            <textarea class="form-control" ng-model="contactDetails.contact_message"  placeholder="Message" required></textarea>
            </div>
        </div>
        
        <input type="submit" class="col-sm-10 submitbtn" value="SEND" ng-click="saveChanges()">
                          
        </form>
        </div>
    </div>
	<div class="col-lg-8">

        <div class="row">
    	<div class="col-sm-2"></div>
        <div class="col-sm-6"><span class="contact-heading">Get in touch with us</span>
             <div id="map_canvas" class="marginTop margin-bottom">
              </div>
              <div class="contact-addHead margin-bottom marginTop">Pollachi</div>
              <p class="contact-add">
              1st Floor, L.G Complex, <br> No 1/17, Ramasamy Street, <br> 
Venkatesacolony, Pollachi - 642001, <br> Coimbatore(Dt),Tamilnadu
              </p>
              </div>
            </div>
        </div>
    	
    </div>
</div>
</div>

<div class="spacer margin-bottom marginTop" style="height:50px"></div>


 <script>
 		var map_canvas = document.getElementById('map_canvas');
        var map = new google.maps.Map(map_canvas, map_options)
		var marker = new google.maps.Marker({
					position: myLatlng,
					map: map,
					title:"Glacier Holidays"
				});
 </script>