<div ng-controller="packagePopUpController" class="text-right">
                <div class="col-lg-3 text-left text-primary"><h5>PACKAGE DETAILS</h5></div><div class="text-right"> <button type="button" class="btn btn-primary btn-sm" ng-click="openWindow()">
                  <span class="glyphicon glyphicon-plus-sign"></span> ADD NEW
                </button></div>
   				
    
            	<div class="modal-header">
                	
                    <h4> {{ headerName }} </h4>
                </div>
                
                
                <div class="modal-body">
				
				
				<div class="alert alert-danger" role="alert" ng-model="data.errorMsg" ng-show="data.isMismatch">Password is not matching</div>
                	<form name="userAddForm">
                    	<table class="table table-bordered">
                        <tr>
                        	<td>Package Name</td>
                    		<td><input type="input" ng-model="pack.package_name"></td>
                         </tr>
						 <tr>
                        	<td>Cost</td>
                    		<td><input type="input" ng-model="pack.package_cost"></td>
                         </tr>
						  <tr>
                        	<td>Currency</td>
                    		<td><input type="input" ng-model="pack.package_currency"></td>
                         </tr>
						 <tr>
                        	<td>Destination Covered</td>
                    		<td><textarea ng-model="pack.package_des_covered" ></textarea></td>
                         </tr>
						 <tr>
                        	<td>Duration</td>
                    		<td><input type="input" ng-model="pack.package_duration"></td>
                         </tr>
						  <tr>
                        	<td>Tour Details</td>
                    		<td><textarea ng-model="pack.package_tour_details" ></textarea></td>
                         </tr>
						   <tr>
                        	<td>Inclusion</td>
                    		<td><textarea ng-model="pack.package_inclusion" ></textarea></td>
                         </tr>
						  <tr>
                        	<td>Exclusion</td>
                    		<td><textarea ng-model="pack.package_exclusion" ></textarea></td>
                         </tr>
						 
                         <tr>
                        	<td>Valid From</td>
                    		<td><date-field dt="pack.package_valid_from"></td>
                         </tr>
						 <tr>
                        	<td>Valid To</td>
                    		<td><date-field  dt="pack.package_valid_to"></td>
                         </tr>
						 
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                	<button class="btn btn-default" ng-click="cancel()">Close</button>
                    <button class="btn btn-primary" ng-click="saveChanges()">Save Changes</button>
                </div>
            </div>