<div class="container text-center" ng-show="isCatloading">
   	<img src="images/loading.gif">
   </div>
   
    <div class="panel panel-default" ng-hide="isCatloading" style="margin-top:-20px" >
        <div class="panel-heading">  
        <div  class="text-right">
                <div class="col-lg-3 text-left text-primary"><h5><b>CONTACT DETAILS</b></h5></div><div class="text-right"> <button type="button" class="btn btn-primary btn-sm" ng-click="openWindow()">
                  <span class="glyphicon glyphicon-plus-sign"></span> ADD NEW
                </button></div> </div>

   					 <script type="text/ng-template" id="contactUpdates.html">
            	<div class="modal-header">
                	<button class="close" ng-click="cancel()">&times;</button>
                    <h4> {{ headerName }} </h4>
                </div>
                
                
                <div class="modal-body">
				
						<div class="alert alert-danger" role="alert" ng-model="data.errorMsg" 
						ng-show="data.isExist"><i>The typed Category is already exist!! Please type an other name</i></div>
                	<form name="userAddForm">
                    	<table class="table table-bordered">
                       
					    <tr>
                        	<td>Contact Subject</td>
                    		<td><input type="text"  name="contact_subject" ng-model="contact.contact_subject"  rows="5" cols="80"></textarea></td>
                         </tr>
						  <tr>
                        	<td>Name</td>
                    		<td><input type="text"  name="contact_name" ng-model="contact.contact_name"></td>
                         </tr>
						  <tr>
                        	<td>Email</td>
                    		<td><input type="text"  name="contact_email" ng-model="contact.contact_email" ></td>
                         </tr>
						  <tr>
                        	<td>Phone</td>
                    		<td><input type="text" name="contact_phone" ng-model="contact.contact_phone" ></td>
                         </tr>
						  <tr>
                        	<td>Message</td>
                    		<td><textarea name="contact_message" ng-model="contact.contact_message"  rows="5" cols="80"></textarea></td>
                         </tr>
						  <tr bgcolor="#D3F8DF">
                        	<td>is Contacted</td>
                    		<td><select type="input" name="is_contacted" ng-model="contact.is_contacted">
								  <option value="No"> No </option>
								   <option value="Yes"> Yes </option>
								</select>
							</td>
                         </tr>
						  
						 <tr bgcolor="#D3F8DF">
                        	<td>Our Feedback</td>
                    		<td><textarea name="contact_details" ng-model="contact.contact_details"  rows="5" cols="80"></textarea></td>
                         </tr>
						 
						
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                	<button class="btn btn-default" ng-click="cancel()">Close</button>
                    <button class="btn btn-primary" ng-click="saveChanges()">Save Changes</button>
                </div>
            </script>
    
    
    
   
   					 

    </div>
         <br> 
    <div class="container" >
    
            <div class="col-lg-1 text-left"  style="margin-top:5px">
            	Search:  </div> <div class="col-lg-3 text-left"> <input type="text" ng-model="catname" ng-keyup="getChar($event)" class="form-control"></div>
                            
        <div class="text-right">
                <div class="col-md-4" style="margin-top:-20px"><pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged(currentPage)"></pagination></div> <div  class="col-md-3"> sort by: <button type="button" class="btn btn-link" ng-click="sortByName()">Not Contacted</button></div>
               
               
                             
              
                </div>
               <p></p>
            <div class="container center-block"> 
                <div class="col-lg-11" style="margin-top:5px">
                
                <table class="table table-bordered table-hover">
                <thead>
                	<tr>
                        <th>SNo</th>
                        <th>Subject</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Message</th>
                        <th>Is Contacted</th>
                        <th>Our Message</th>
                        <th>Actions</th>
                     </tr>
                 </thead>
                 <tbody>
                 	<tr ng-repeat="test in detailsPage">
                    	<td>{{   $index + 1 }}</td>
                         <td>{{   test.contact_subject  }}</td>
                            <td>{{   test.contact_name  }}</td>
                            <td>{{   test.contact_email  }}</td>
                            <td>{{   test.contact_phone  }}</td>
                            <td>{{   test.contact_message  }}</td>
                            <td bgcolor="#D3F8DF">{{   test.is_contacted  }}</td>
                            <td bgcolor="#D3F8DF">{{   test.contact_details  }}</td>
                           
                        <td>
                      <button type='button' class='btn btn-primary' ng-click='editContactItem( test.id )'>
                      		<span class="glyphicon glyphicon-pencil"></span>
                      </button>
                      
                      <button type='button' class='btn btn-danger' ng-click='deleteItem(test.id)'>
                      	<span class="glyphicon glyphicon-trash"></span>
                      </button>
                           </td> 
                    </tr>
                   
                 </tbody>
                 </table>
                 
               
                   
                   <div class="text-right"> <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged(currentPage)"></pagination></div>
                </div>
            </div>  </div></div>
