<div class="panel panel-default" style="margin-top:-20px">
        <div class="panel-heading">  
<div class="container">
<div class="col-md-5 text-left">
 <label  class="col-md-5 control-label">Select Package Name:</label><div class="col-md-7"> <select  class="form-control"  ng-model="packform.packages_name" ng-change="getPackValue()" ng-options="pack.id as pack.package_name for pack in totalPackages">
   <option value="" disabled selected>Select package</option>
</select></div>

</div>
<div class="col-md-3 alert alert-info" role="alert" ng-show="packform.infoDisplay"><i>{{ packform.info }}</i></div>
<div class="text-right">
 <button type="button" class="btn btn-primary" ng-click="addDay()"><span class="glyphicon glyphicon-plus"> </span> Add Day</button>
  <button type="button" class="btn btn-default" ng-click="goToPackage()"><span class="glyphicon glyphicon-chevron-up"> </span> Back to Package </button>

</div>
</div>
</div>
<div class="panel-body">
<div class="col-md-8 col-md-offset-2">

<div ng-repeat="days in getSelectedPack | orderBy:day_num">
 <div class='panel panel-info' style="margin-top:20px;">
 	<div class='panel-heading'><b>Detais - Day {{ days.day_num }} </b>
    <div class="text-right">
    <button class="btn btn-primary" ng-click="addDetail(days.id)"><span class="glyphicon glyphicon-ok"> </span></button>
    <button class="btn btn-danger"  ng-click="deleteDetails(days.id)"><span class="glyphicon glyphicon-remove"> </span></button></div>
    </div>
    <div class="panel-body">
    <form  class="form-horizontal" role="form">
         <div class="form-group">
            <label  class="col-sm-2 control-label">Day Title</label>
            <div class="col-sm-10">
              <input type="input" class="form-control" ng-model="days.day_title"> </div>
         </div>
         
         <div class="form-group">
        	<label  class="col-sm-2 control-label">Day Meals</label>
        	<div class="col-sm-10">
          		<textArea type="input" class="form-control" ng-model="days.day_meals" > </textArea>
        	</div>
     	</div>


     <div class="form-group">
        <label  class="col-sm-2 control-label">Day Description</label>
        <div class="col-sm-10">
          <textArea type="input" class="form-control" ng-model="days.day_desc" > </textArea>
        </div>
     </div>
</form>
    </div>
  </div>

</div>
</div>
</div>





</div>