<!doctype html>
<html  ng-app="glacierHolidays">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=content-width, initial-scale=1.0">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="cms-admin/css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/style.css">
</head>

<body ng-controller="newsTestimonial" class="user-font">


<!-- LOGO DIV -->
<div class="centered-width marginTop topBanner-tex">
<div class="col-md-2 margin-bottom"><img src="images/logo.png"></div>
<div class="col-md-10 text-right marginTop margin-bottom">
    <div>Follow Us on
        <a href="#"><img src="images/fb.png"></a>
        <a href="#"><img src="images/tweet.png"></a>
        <a href="#"><img src="images/g+.png"></a>
        <a href="#"><img src="images/rss.png"></a>
    </div> 
    <div class="marginTop fontbold" ><i class="fa fa-envelope iconColor"></i> contact@glacierholidays.in  <span class="spacer"></span> <i class="fa fa-question-circle iconColor"></i>  Help</div>
</div>
</div>

<!-- END OF LOGO DIV-->


<!-- MENU DIV -->
<div class="menuBackground centered marginTop" >
	<div class="menu-nav">
    	<ul class="centered-width">
        	<li class="activeMenu"><img src="images/separator.jpg"><a href="index.html">HOME</a><img src="images/separator.jpg"></li>
            <li><a href="packages-model.html">PACKAGES</a><img src="images/separator.jpg"></li>
            <li><a href="services.html">SERVICES</a><img src="images/separator.jpg"></li>
            <li><a href="destination.html">DESTINATIONS</a><img src="images/separator.jpg"></li>
            <li><a href="contactus.html">CONTACT US</a><img src="images/separator.jpg"></li>
        </ul>
    </div>
<div class="splash"><img src="images/slpash.png"></div>
</div>
<!-- END OF MENU DIV -->

<!-- Banner -->
<div class="banner-holder">
</div>
<div class="container title-text titleText text-center marginTop">
	Our Services
</div>

<!-- END OF BANNER -->
<div class="graphic-holder centered">
	<div class="centered-width total-reset">
    	<div class="flight-block">
        	<div class="block-img"><img src="images/flight.png"></div>
        	<div class="block-img extra-top-padding">FLIGHTS </div>
        </div>
        <div class="hotel-block"> 
        	<div class="block-img extra-top-padding"><img src="images/hotel.png "></div>
        	<div class="block-img extra-top-padding">HOTELS </div>
        </div>
        <div class="tour-block"> 
            <div class="block-img" style="padding-top:20px"><img src="images/tour.png"></div>
        	<div class="block-img extra-top-padding">TOURS </div>
        </div>	
        
        <div class="travel-block"> 
        	<div class="block-img "><img src="images/travel.png"></div>
        	<div class="block-img extra-top-padding">TRAVEL DEALS </div>
         </div>
    </div>
    <div class="centered-width total-reset">
    	<div class="fligt-line"> </div>
        <div class="hotel-line"> </div>
        <div class="tour-line"> </div>
        <div class="travel-line"> </div>
    </div>
    
    <!-- create an empty space -->
    <div class="centered-width extra-top-padding-2x"></div>
    
    <!-- Our Services Holder -->
    <div class="container user-font">
    <div class="centered-width total-reset" style="min-height:500px;">
    	<div class="side-bar" >
        	<div class="side-menu" style="background-color:#fcd404; padding-top:10px;">
        		<h4>Why Glaceir Holidays ? </h4>
                <div class="side-menu-content"> <img src="images/hand-icon.png"> <span class="spacer"></span>Competing Price </div>
                <div class="side-empty-line"></div>
                <div class="side-menu-content"> <img src="images/wide.png"> <span class="spacer"></span> Wide Range of deals </div>
                <div class="side-empty-line"></div>                
                <div class="side-menu-content"> <img src="images/star.png"> <span class="spacer"></span> Best in class service </div>
                <div class="side-empty-line"></div>                
                <div class="side-menu-content"> <img src="images/man.png"> <span class="spacer"></span> Experienced Guides</div>
                <div class="side-empty-line"></div>               
                <div class="side-menu-content"> <img src="images/season.png"> <span class="spacer"></span> Sesonal Offers</div>
                
            </div>
            <div>
            	<div class="row text-left planTitle marginTop" style="padding-left:20px">  PLAN YOUR TRIP NOW </div>
               
            </div>
        </div>
        <div class="main-bar text-left">
        	<span class="titleText">Our Travel Deals </span> 
           <div class="row">
            	<div class="col-md-6" ng-repeat="fpack in featurePackDetails">              
                	<div class="col-md-6" style="padding:2px">
                    		<div ><a class='btn btn-link' ng-click="showViewPanel( fpack.id )">
                            
                            <img class="feaImgStyle" ng-src="cms-admin/com/uploads/{{fpack.first_image}}"></a></div>
                            </div>
                    <div class="col-md-6 featuredContent" style="padding:2px">
                        <p><h4 class="featuredTitle"> {{ fpack.package_name }}</h4></p>
                        <p> {{ fpack.dayString }} <br>
                        <span class="featuredCurrency">{{ fpack.package_currency }} : {{ fpack.package_cost | currency : ''}} </span> 
                        	<span style="font-size:10px">*per person </span><br>
                        <i style="font-weight:normal">({{ fpack.offerValid }})</i></p>
                        <a href="#">more details >> </a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    </div>
    <!-- End of Service holder -->
    
    <div class="container margin-bottom user-font" >
   		
        <div class="col-md-5">
        	<div class="row text-left">
            	<h4  class="titleText">Our Clients say...</h4>
            </div>
            <div class=" text-left" ng-repeat="test in testimonialDetails" style="padding:5px">
            	<div class="newsTestContent"> {{ test.client_content}}</div>
            	<div class="text-right"> - <span class="newsTestTitle"> {{ test.client_name }}, </span> {{test.client_title}}</div>
            </div>
            <div class="row text-right">
            	<a href="#"> view all testimonials >> </a>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
        	<div class="text-left">
            	<h4  class="titleText">News & Update</h4>
            </div>
            <div class="text-left" ng-repeat="news in newsDetails" style="padding:5px">
            <div > <span class="newsTestTitle">{{news.news_title}} </span>- {{ news.INSERT_DATE }}</div>
            	<div class="newsTestContent"> {{ news.news_content}}</div>
            	
            </div>
            <div class="row text-right">
            	<a href="#"> view all news & updates >> </a>
            </div>
        </div>
        
    </div>
    <hr>
 
 <!-- START OF OUR DEAL FOOTER -->
   <div class="container-fluid user-font">
			<div class="row ">
            <div class="col-sm-1" ></div>
            
            	<div class="col-sm-2 text-left ourdealHeight  ">
                        <div class="dealTitle marginTop"> Our Products </div>
                        	<div class="marginTop dealContent marginTop">
                            	<ul>
                                    <li> Cruise Holidays </li>
                                    <li> Domestic Flights </li>
                                    <li> Domestic Hotels </li>
                                    <li> Foreign Exchange </li>
                                   <li> Holidays in India </li>
                            </ul>
                      		</div>
                       </div>  
                        <div class="col-sm-2 text-left ourdealHeight verticalLine ">
                            <div class="marginTop dealContent marginTop" style="padding-top:20px">
                                <ul >
                                        <li> International Flights</li>
                                        <li> International Holidays </li>
                                        <li> International Hotels </li>
                                        <li>Travel Insurance </li>
                                       <li> Visa and Passport </li>
                                </ul>
                            </div>
                			</div>
                
                <div class="col-sm-2 text-left ourdealHeight verticalLine " >
               
               		<div class="dealTitle marginTop"> Our India Holiday Deals </div>
                     <div class="marginTop dealContent marginTop">
                        	<ul>
                                    <li> Beach Holidays </li>
                                    <li> Hill Station Holidays </li>
                                    <li> Pilgrimage Holidays </li>
                                    <li>Romantic Holidays</li>
                                 
                            </ul>
                        </div>
                </div>
                
                <div class="col-sm-2 text-left ourdealHeight verticalLine ">
               
               	<div class="dealTitle marginTop">Our International Holiday Deals </div>
                    <div class="marginTop dealContent marginTop">
                        	<ul>
                                    <li> Africa Holiday Packages </li>
                                    <li>America Holiday Packages</li>
                                    <li>Asia Holiday Packages</li>
                                    <li>Australia Holiday Packages</li>
                                 	<li>Europe Holiday Packages</li>
                            </ul>
                        </div>
                </div>
                
                
                <div class="col-sm-2 text-left  ">
            
               		<div class="dealTitle marginTop"> Other Services </div>
                     <div class="marginTop dealContent marginTop">
                        	<ul>
                                    <li> Flight Tickets </li>
                                    <li>Hotel Reservation</li>
                                    <li>Student Tours</li>
                                    <li>Industrial Visit</li>
                                 	<li>Corporate Incentive Trips</li>
                            </ul>
                        </div>
                </div>
            </div>
    </div>
 
 <!-- END OF OURDEAL FOOTER -->
 
 
    <hr>
    <div class="container-fluid marginTop margin-bottom">
    <div class="row">
    	<div class="col-lg-1"></div>
    	<div class="col-lg-3 text-left">
                 <div>Follow Us on
                <a href="#"><img src="images/fb.png"></a>
                <a href="#"><img src="images/tweet.png"></a>
                <a href="#"><img src="images/g+.png"></a>
                <a href="#"><img src="images/rss.png"></a>
            </div> 
        </div>
        <div class="col-lg-7 text-right">
        <div class="fontbold" ><i class="fa fa-envelope iconColor"></i> contact@glacierholidays.in  <span class="spacer"></span> <i class="fa fa-question-circle iconColor"></i>  +91 9585552426 / 9489772426</div>
           	<div class="col-lg-1"></div>
    </div></div>	</div>
    <hr>
   
<footer class="container total-reset marginTop margin-bottom">
	<div class="col-sm-6 text-left">
    	<a href="#"> Home </a> |
    	<a href="#"> Package </a> |
    	<a href="#"> Services </a> |
    	<a href="#"> Destination </a> | 
    	<a href="#"> About Us</a> |
    	<a href="#"> Terms </a>                                         
    </div>
	<div class="col-sm-6 text-right" > ©2013  The Glacier Holidays </div>
</footer>

</div>

<!-- Include all JavaScript lib -->
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

<script src="cms-admin/js/bootstrap.js"></script>
<script src="cms-admin/js/angular.js"></script>
<script src="cms-admin/js/angular-resource.min.js"></script>
<script src="cms-admin/js/angular-route.min.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>


<script src="js/mainapp.js"></script>
<script src="cms-admin/js/filters/appFilters.js"></script>

<!-- Include Controllers -->
<script src="js/controllers/index.js"></script>


<!-- Include Admin Services -->
<script src="js/services/indexServices.js"></script>

</body>
</html>
