<div class="package-holder">
 <div class="centered-width bannerText">{{ headerName }}</div>

</div>

<div class="breadcrumb" style="height:50px"> 
	<div class="centered-width total-reset">
    <ol class="breadcrumb">
    <li><a class="showCursor" ng-click="gotoURL('/');">Home</a></li>
	<li><a class="showCursor" ng-click="gotoURL('/hotelList');">Hotel Packages</a></li>
  	<li>{{ selectedPackage.hotel_name }}</li>
</ol></div>
</div>

<div class="centered-width total-reset">
<div class="row" style="margin:10px 0">
    <div class="col-sm-4">
     <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <a class="showCursor" ng-click="openWindow(slide.big_image)"> <img ng-src="{{slide.image}}" style="margin:auto;"></a>
                <div class="carousel-caption">
                    <h4> {{ slide.desc }}  - {{$index + 1}}</h4>                     
                </div>
            </slide>
    </carousel>
    </div>
    <div class="col-sm-6">
    	<div class="titleText">{{ selectedPackage.hotel_name  }}</div>
        <div class="dealTitle">Rs : {{ selectedPackage.hotel_cost | currency : ''}}
        <span style="font-size:10px">*per person </span><br>
                        <i style="font-weight:normal">({{ selectedPackage.offerValid }})</i>
                     <br>
                    <span class="content-title">{{ selectedPackage.hotel_overview }} </span> </div>
         <div style="margin:20px 0px; width:250px"> <input type="button" class="btn-primary submitbtn" value="Inquire" ng-click="inquireNow()"  ></button></div> 
                    
      
	</div>
 
	</div>

 
<tabset class="marginTop margin-bottom">
    <tab heading="Package Info" >
        <div class="row" style="margin:4px;">
                <div class="alert-info content-title" style="padding:10px;">{{ selectedPackage.hotel_name }}</div>
            </div>
            
          <div class="row marginTop" style="padding:10px">
			<display-item label-name="Name :" label-value="{{ selectedPackage.hotel_name }}" ></display-item>
            <display-item label-name="Cost : " label-value="Rs : {{ selectedPackage.hotel_cost | currency : ''}}" ></display-item>
            <display-item label-name="Days :" label-value="{{ selectedPackage.dayString }}" ></display-item>
            <display-item label-name="" label-value="{{ selectedPackage.offerValid }}" ></display-item>
            
   
          </div>
         
    </tab>
    
    
       <tab heading="General Information" >
           <div class="row" style="margin:4px;">
            <div class="alert-info content-title" style="padding:10px;">{{ selectedPackage.hotel_name }}</div>
        </div>
    	<div class="row marginTop" style="padding:10px">
			<display-item label-name="Hotel Facilities: " label-value="{{ selectedPackage.hotel_facilities }}" ></display-item>
            <display-item label-name="Hotel Overview: " label-value="{{ selectedPackage.hotel_overview }}" ></display-item>
            <display-item label-name="Inclusion : " label-value="{{ selectedPackage.package_inclusion }}" ></display-item>
            <display-item label-name="Exclusion : " label-value="{{ selectedPackage.package_exclusion }}" ></display-item>
   
          </div>
    </tab>
    
    <tab heading="Contact Details" >
        <div class="row" style="margin:4px;">
            <div class="alert-info content-title" style="padding:10px;">{{ selectedPackage.hotel_name }}</div>
        </div>
       <div class="row marginTop" style="padding:10px">
			<display-item label-name="Hotel Addres: " label-value="{{ selectedPackage.hotel_address  }}" ></display-item>
            <display-item label-name="Country: " label-value="{{ selectedPackage.hotel_country }}" ></display-item>
             <display-item label-name="Website: " label-value="{{ selectedPackage.hotel_web_url }}" ></display-item>
          </div>
        
    </tab>
    
    
  
    
    
    
    
    
</tabset>


               
</div>

<script type="text/ng-template" id="InquireHotelTemplate.html">

	
	
<div class="panel panel-primary" style="margin:0">
<div class="panel-heading">
    	<span class="contact-heading" style="color:#FFF">Inquire about {{ package.hotel_name }}</span> <br>
        <span class="contact-text" style="color:#FFF">We’d love to reach you</span>
</div>

<div class="panel-body text-center" >
      
        <form name="contactForm"  class="form-horizontal" role="form">
        
        <div class="form-group" style="padding:10px">
            <div >
            <input type="input" class="form-control" ng-model="contactDetails.contact_name"   placeholder="Your Name" required>
            </div>
        </div>
 
        <div class="form-group" style="padding:10px">
            <div >
            <input type="email" class="form-control"  ng-model="contactDetails.contact_email"  placeholder="Email" required>
            </div>
        </div>
 
 
        <div class="form-group" style="padding:10px">
            <div >
            <input type="input" class="form-control" ng-model="contactDetails.contact_phone"  placeholder="Phone Number" required>
            </div>
        </div>

 
        <div class="form-group" style="padding:10px">
            <div >
            <textarea class="form-control" ng-model="contactDetails.contact_message"  placeholder="Message" required></textarea>
            </div>
        </div>
        
        <input type="submit" class="btn btn-primary"  ng-disabled="contactForm.$invalid" style="margin:0 auto" value="Inquire" ng-click="saveChanges()">
                          
        </form>

</div>


    </div>
	
</script>


<script type="text/ng-template" id="ImageTemplate.html">
	
	
	
	<div >
	 <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
               <img ng-src="{{slide.big_image}}" style="margin:auto;">
                <div class="carousel-caption">
                    <h4> {{ headerName  }} Snapshot  - {{$index + 1}}</h4>                     
                </div>
            </slide>
    </carousel>
	
	
	</div>
	
</script>

<!--<div class="container" >
 <div class="centered-width total-reset marginTop" >
       		<div class="newsTestTitle marginTop"> Similar Category Packages </div>
            <div ng-repeat="catpack in sameCatPack" class="col-sm-4">
           		<div><a class='btn btn-link' ng-click="openPackView( catpack.id )" style="padding:0;">
                    	<img class="feaImgStyle" ng-src="cms-admin/com/uploads/{{catpack.first_image}}" ></a></div>
                    <div class="featuredContent" style="padding:1px">
                       <h4 class="featuredTitle showCursor" ng-click="packView(catpack.id)"> {{ catpack.package_name }}</h4>
                        <br>
                        <a class="showCursor" ng-click="packView(catpack.id)">more details >> </a>
                 	</div>
            </div>
            
</div>
</div>-->
