
<div class="package-holder">
 <div class="centered-width bannerText">{{ headerName }}</div>

</div>
<div class="container text-center" ng-show="isloading">
   	<img src="cms-admin/images/loading.gif">
</div>
<div ng-hide="isloading" class="conatiner-fluid"> 
<div class="centered-width total-reset marginTop" >
    	
        <div class="main-bar text-left" style="min-height:300px">
        	<span class="titleText">Our Hotel Packages </span> 
           <div class="col-sm-12" style="clear:both">
            	<div class="col-sm-4 marginTop margin-bottom" ng-repeat="fpack in totalPackItems">              
                	<div><a class='btn btn-link' ng-click="openPackView( fpack.id, fpack.hotel_url )" style="padding:0;">
                    	<img class="feaImgStyle" ng-src="cms-admin/com/uploads/{{fpack.first_image}}" ></a></div>
                    <div class="featuredContent" style="padding:1px">
                       <h4 class="featuredTitle showCursor" ng-click="openPackView(fpack.id, fpack.hotel_url)"> {{ fpack.hotel_name }}</h4>
                        <p style="margin:0px"> {{ fpack.dayString }} <br>
                        <span class="featuredCurrency">Rs : {{ fpack.hotel_cost | currency : ''}} </span> 
                        	<span style="font-size:10px">*per person </span><br>
                        <span style="font-weight:normal">({{ fpack.offerValid }})</span></p>
                        <a class="showCursor" ng-click="openPackView(fpack.id, fpack.hotel_url)">more details >> </a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </div>
