
<div class="package-holder">
 <div class="centered-width bannerText">{{ headerName }}</div>

</div>
<div class="container text-center" ng-show="isloading">
   	<img src="cms-admin/images/loading.gif">
</div>
<div ng-hide="isloading" class="conatiner-fluid"> 
<div class="centered-width total-reset marginTop" >
    	<div class="side-bar" >
        	<div class="side-menu">
              
                <div ng-repeat="cat in totalCategories">
                    <div class="side-pack-content"
                    ng-class="{ 'side-active': $index == selectedIndex }"
                    	 ng-click="filterCat(cat.id, $index)"><span class="spacer"></span> {{ cat.cat_name }}</div>
                    <div class="side-empty-line"></div>                
                </div>
                
            </div>
            
        </div>
        <div class="main-bar text-left" style="min-height:300px">
        	<span class="titleText">Our Travel Packages </span> 
           <div class="col-sm-12" style="clear:both">
            	<div class="col-sm-4 marginTop margin-bottom" ng-repeat="fpack in packPage">              
                	<div><a class='btn btn-link' ng-click="openPackView( fpack.id, fpack.package_url )" style="padding:0;">
                    	<img class="feaImgStyle" ng-src="cms-admin/com/uploads/{{fpack.first_image}}" ></a></div>
                    <div class="featuredContent" style="padding:1px">
                       <h4 class="featuredTitle showCursor" ng-click="openPackView(fpack.id, fpack.package_url)"> {{ fpack.package_name }}</h4>
                        <p style="margin:0px"> {{ fpack.dayString }} <br>
                        <span class="featuredCurrency">{{ fpack.package_currency }} : {{ fpack.package_cost | currency : ''}} </span> 
                        	<span style="font-size:10px">*per person </span><br>
                        <span style="font-weight:normal">({{ fpack.offerValid }})</span></p>
                        <a class="showCursor" ng-click="openPackView(fpack.id, fpack.package_url)">more details >> </a>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="text-right"> <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged(currentPage)"></pagination></div>
    </div>
  </div>
